@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,400;1,600;1,700;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap);

// slate-700 #334155
// neutral-100 #f5f5f5
// primary #fcd34d

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Noto Sans", serif;
	@apply text-slate-700 bg-primary-light;
}

.logo {
	font-family: "Libre Baskerville", serif;
}

button:disabled {
	@apply opacity-50 cursor-default pointer-events-none;
}